body {
    background-color: #1c2331; /* 主要背景色 */
    color: #ffffff; /* 主要文字颜色 */
}

.card {
    background-color: #2c3e50; /* 卡片背景色 */
    border-radius: 20px;
    margin: 20px;
    height: 160px;
    text-align: center;
    box-shadow: 5px 5px 5px #34495e; /* 卡片阴影 */
}

a {
    text-decoration: none;
    color: #3498db; /* 链接颜色 */
}

.list {
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #34495e8d; /* 列表背景色 */
    left: 0px;
    top: 0px;
    -webkit-backdrop-filter: blur(.5rem);
    backdrop-filter: blur(0.5rem);
    list-style-position: inside;
    position: sticky;
    display: flex;
}

.list-link {
    display: block;
    color: #ecf0f1; /* 列表链接颜色 */
    padding: 12px;
    text-align: center;
    display: inline;
    float: left;
    text-decoration: none;
}

.list-link:hover {
    background-color: #2c3e50; /* 鼠标悬停颜色 */
}


.list-link:hover {
    background-color: rgba(255, 255, 255, 0.183);
}

h1 {
    font-size: 50px;
}

pre {
    font-size:25px ;
}

p {
    font-size:25px ;
}